*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar {
       display: flex;
   }

   #navbar ul {
       display: flex;
       list-style: none;
   }

   #navbar ul li {
       margin: 6px;

   }
   .card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
   }
   .logo{
    width: 7%;
    height: 7%;
   }